.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}