:root {
    --title-collor: #212121;
    --main-text-color: #757575;
    --background-heroe-color:#2F303A;
    --background-team-color: #F5F4FA;
    --background-footer-color: #2F303A;
    --hover-color: #2196F3;
    --portfolio-btn-color:#212121;
}